@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

$font-fam: 'Noto Sans KR', sans-serif;
$font-sz : 11px;
$font-wg: 500;

$bg-color: #efefef;
$color: #000;

$space-safe: 1200px;